body {
    background-image: url('d8aee26c-c0a3-4d9d-8b40-fcbc578bd724.jpg');
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;}
    
    header{
        background-color: #f1ba31;
        color: white;
        text-align: center;
        padding: 10px;
    }   
    nav{
        background-color: #000000e9;
        color: white;
        text-align: center;
        padding: 10px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    }
    nav a{
        color: white;
        text-decoration: none;
        margin: 0px 10px;
    
    }
    h1{
        font-size: 36px;
        text-align: center;
        color: #000000;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    h2{
        font-size: 30px;
        text-align: center;
        color: #000000;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    p{
        font-size: 25px;
        text-align: justify;
        margin: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }   
    button{
        background-color: #f9fafa;
        color: rgb(251, 251, 251);
        width: 200px;
        height: 200px;
        cursor: pointer;
        margin: 50px;
        border: none;
        transition: transform 0.3s ease;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    button img{
        width: 175px;
        height: 175px;
    }
    li{
        font-size: 30px;
        color: #000000;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    a{
        color: #000000;
        text-decoration: none;  
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    button:hover{
        transform: scale(1.1);
    }
    .producto{
        background: #fff6f6;
        display: flex;
        align-items: center;
        width: 1200px;
        text-align: center;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    }
    .Comprar{
    background-color: #bbebb6;
    color: rgb(0, 0, 0);
    width: 250px;
    height: 100px;
    cursor: pointer;
    margin-top: 50px;
    border: none;
    transition: transform 0.3s ease;
    border-radius: 120px;
    align-self: center;
    font-size: 30px;
    justify-content: center;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tabla{
width: 100%;
border-collapse: collapse;
background-color:rgba(255, 232, 232, 0.5);
}
.tabla td{
    border: 10 px solid black;
    width: 700px;
    padding: 30px;
    vertical-align: top;
}
.tabla h2{
    margin-top: 0;
}
.recuadro{
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 232, 232, 0.5) ;
    border: none;
    border-radius: 20px;
}
.contacto{
    text-align: center;
    padding: 40px;
}
.tabla-contacto{
    width: 100%;
    border-collapse: separate;
    border-spacing: 40px;
}
.tabla-contacto td{
    background-color:rgba(255, 232, 232, 0.5);
    padding: 30px;
    border-radius: 20px;
    border: 2px solid;
    width: 50%;
}
.boton-contacto{
    padding: 10px;
    border: none;
    border-radius: 30px;
    background-color: rgb(225, 183, 248);
    transition: 0.4s ease;
    width: 15opx;
    height: 60px;
    font-size: 18px;
    color: #000000;
}
.boton-contacto:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px;
}
.Link-Mascotas{
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
.btn-regresar{
    background-color: #ff6161;
    color: rgb(0, 0, 0);
    width: 250px;
    height: 100px;
    cursor: pointer;
    margin-top: 50px;
    border: none;
    transition: transform 0.3s ease;
    border-radius: 120px;
    align-self: center;
    font-size: 30px;
    justify-content: center;
}